<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7a274324-6559-4503-9740-7d6ad4b2e31c/resourcegroups/RepositoriosTakeAPI20210812001305ResourceGroup/providers/Microsoft.Web/sites/RepositoriosTakeAPI20210812001305</ResourceId>
    <ResourceGroup>RepositoriosTakeAPI20210812001305ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7a274324-6559-4503-9740-7d6ad4b2e31c/resourceGroups/RepositoriosTakeAPI20210812001305ResourceGroup/providers/Microsoft.ApiManagement/service/RepositoriosTakeAPI20210812001305-apim/apis/repositoriotake</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://repositoriostakeapi20210812001305.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>c3f09e3b-1bf7-419a-a983-74083c36199f</ProjectGuid>
    <MSDeployServiceURL>repositoriostakeapi20210812001305.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RepositoriosTakeAPI20210812001305</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RepositoriosTakeAPI20210812001305</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>